<a href="https://colab.research.google.com/github/isumitkumar/isumitkumar.github.io/blob/master/INSE01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

To read data 
and to collect from top

In [6]:
df = pd.read_csv("breast_cancer.csv")
df.head(10)

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,5,1,1,1,2,1,3,1,1,2
1,5,4,4,5,7,10,3,2,1,2
2,3,1,1,1,2,2,3,1,1,2
3,6,8,8,1,3,4,3,7,1,2
4,4,1,1,3,2,1,3,1,1,2
5,8,10,10,8,7,10,9,7,1,4
6,1,1,1,1,2,10,3,1,1,2
7,2,1,2,1,2,1,3,1,1,2
8,2,1,1,1,2,1,1,1,5,2
9,4,2,1,1,2,1,2,1,1,2

In [12]:
df['Clump Thickness']

0      5
1      5
2      3
3      6
4      4
      ..
678    3
679    2
680    5
681    4
682    4
Name: Clump Thickness, Length: 683, dtype: int64

TO check size

In [13]:
df.shape

(683, 10)

to see data from bottom

In [14]:
df.tail(12)

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
671,3,1,1,1,2,1,2,3,1,2
672,4,1,1,1,2,1,1,1,1,2
673,1,1,1,1,2,1,1,1,8,2
674,1,1,1,3,2,1,1,1,1,2
675,5,10,10,5,4,5,4,4,1,4
676,3,1,1,1,2,1,1,1,1,2
677,3,1,1,1,2,1,2,1,2,2
678,3,1,1,1,3,2,1,1,1,2
679,2,1,1,1,2,1,1,1,1,2
680,5,10,10,3,7,3,8,10,2,4
681,4,8,6,4,3,4,10,6,1,4
682,4,8,8,5,4,5,10,4,1,4